body {
  text-align: center;
  background: blue;
  font-family: sans-serif;
  color: white;
}

h1 {
font-family: monospace;
font-size: 50pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 18pt;
}

img {
  max-width: 100%;
  max-height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-position: inside;
}

a:link, a:visited, a:active {
  color: white;
}
